---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import PageNav from '../components/PageContent/PageNav.astro';
import MobileTOC from '../components/PageContent/MobileTOC.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.mdx`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{frontmatter.title ? `${frontmatter.title} ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2.5rem;
			}

			.layout {
				display: grid;
				grid-template-columns: minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(var(--gutter), 1fr);
				gap: 0;
				width: 100%;
			}

			.grid-sidebar {
				position: sticky;
				top: var(--theme-navbar-height);
				height: calc(100vh - var(--theme-navbar-height));
			}

			#grid-left {
				position: fixed;
				top: var(--theme-navbar-height);
				left: 0;
				right: 0;
				bottom: 0;
				background-color: var(--theme-bg);
				z-index: 9;
				display: none;
				border-right: 1px solid var(--theme-border);
			}

			#grid-main {
				padding: var(--doc-padding) var(--gutter) 4rem;
				grid-column: 2;
				display: flex;
				flex-direction: column;
				min-width: 0;
				width: 100%;
			}

			#grid-right {
				display: none;
			}

			@media (min-width: 50em) {
				body {
					--gutter: 2rem;
				}

				.layout {
					max-width: 88rem;
					margin: 0 auto;
				}

				#grid-main {
					padding: var(--doc-padding) 2rem 4rem;
					max-width: calc(var(--content-max-width) + 4rem);
					margin: 0 auto;
				}
			}

			@media (min-width: 72em) {
				.layout {
					grid-template-columns: var(--sidebar-width) minmax(0, 1fr) var(--toc-width);
				}

				#grid-left {
					position: sticky;
					display: block;
					grid-column: 1;
					border-right: 1px solid var(--theme-border);
				}

				#grid-main {
					grid-column: 2;
				}

				#grid-right {
					grid-column: 3;
					display: block;
				}

				#grid-main {
					grid-column: 2;
					max-width: 100%;
					margin: 0;
				}
			}
		</style>
		<style is:global>
			.layout > * {
				width: 100%;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<MobileTOC headings={headings} />
		<main class="layout">
			<aside id="grid-left" class="grid-sidebar" title="Site Navigation">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div id="grid-main">
				<PageContent frontmatter={frontmatter} headings={headings} githubEditUrl={githubEditUrl}>
					<slot />
				</PageContent>
				<PageNav currentPage={currentPage} />
			</div>
			<aside id="grid-right" class="grid-sidebar" title="Table of Contents">
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
		</main>
		<Footer path={currentFile} />
	</body>
</html>
